<h2>
<div class="demo-list-action mdl-list">
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">home</i>
      <span>Hushåll</span>
    </span>
    <a class="mdl-list__item-secondary-action" href="#">[summa_hushåll]</a>
  </div>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">restaurant</i>
      <span>Mat</span>
    </span>
    <a class="mdl-list__item-secondary-action" href="#">[summa_mat]</a>
  </div>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">train</i>
      <span>Transport</span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#">[summa_transport]</a>
  </span>
  </div>
    <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">help</i>
      <span>Övrigt</span>
    </span>
    <span class="mdl-list__item-secondary-content">
    	<a class="mdl-list__item-secondary-action" href="#">[summa_övrigt]</a>
  </span>
  </div>
      <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">equals</i>
      <span>Total</span>
    </span>
    <span class="mdl-list__item-secondary-content">
    	<a class="mdl-list__item-secondary-action" href="#">[summa_total]</a>
  </span>
  </div>
</div>
